<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../static/css/enter.css">
   <link rel="stylesheet" href="../static/css/main.css">
   <script src="../static/js/main.js"></script>
   <title>اكتبي الاكل الموجود</title>
</head>

<body>

   <div class="container">
      <script>showNavbar()</script>

      <div class="enter">
         <div class="image"><img src="../static/images/open fridge.png" alt=""></div>

         <div class="text">
            <div class="add-item">
               <p class="title">اضافه المكونات</p>
               <div class="add">
                  <input type="text" placeholder="بــــحـــــــث" class="search" name="search">
                  <button class="add-btn" type="submit"> أضف </button>
               </div>
            </div>
            <form action="/get-recipe">
               <div class="gradiants"></div>
               <button class="btn" type="">تم</button>
            </form>

         </div>

      </div>
   </div>
   <script src="../static/js/enter.js"></script>
</body>

</html>