<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../static/css/index.css">
   <link rel="stylesheet" href="../static/css/main.css">

   <script src="../static/js/main.js"></script>
   <title>تاكل ايه</title>
</head>
<body>

   <div class="container">
   <script>showNavbar()</script>
      <div class="site-info">
         <div class="image"><img src="../static/images/woman-cutting.png" alt=""></div>
         <div class="text">
         <div class="que">
         <p>رحم الله رجلا قيل له تاكل ايه ؟ "</p> 
         <p>" فجاوب ومقالش اي حاجة</p>
         </div>
         <div>وعشان ده مش هيحصل هنقولك احنا</div>
         <button class="btn"><a href="/">يلا بينا</a></button>
      </div>
      </div>
   </div>
   
</body>
</html>