<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../static/css/ready.css">
   <link rel="stylesheet" href="../static/css/main.css">
   <script src="../static/js/main.js"></script>

   <title>جاهزه</title>
</head>
<body>

   <div class="container">
   <script>showNavbar()</script>
      <div class="site-info">
         <div class="image"><img class="fridge" src="../static/images/fridge.png" alt=""></div>
         <div class="text">
         <div class="que">
         <p>جاهزه تقوليلنا عندك ايه في التلاجه ونقترح عليكي اكله حلوه ؟</p> 
         </div>
         <div class="image-2"><img src="../static/images/happy.png" alt=""></div>
         <button class="btn"><a href="/enter-data">جاهزة</a></button>
      </div>
      </div>
   </div>
   <script src="ready.js"></script>
</body>
</html>